# venv and history
.venv
.history
.vscode

# datas

algo/webscraping/data/image_folder
algo/webscraping/data/organized_images
algo/webscraping/data/organized_images_above_20
algo/webscraping/data/pool_20_above_filtered
algo/webscraping/data/pool_of_images
algo/webscraping/data/selected_80_percent_filtered
algo/webscraping/data/selected_coins_above20
algo/webscraping/data/unseen_coins
/tmp
/wandb
/runs
algo/webscraping/*.parquet
algo/webscraping/*.csv
db/
src/backend/video/tmp/*

# Ignore other common files and folders
.DS_Store
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.bak
*.tmp
.pytest_cache/
*~
.env
