<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom css for prelogin pages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard_style.css') }}">
</head>

<body>
    <div class="background"></div>
        <div style="text-align: center;">
            <h1 class="lead">AiCoinXpert</h1>
            <div class="buttons">
                <div class="button-wrapper">
                    <a href="{{ url_for('video') }}" class="btn-primary_video">Launch Video</a>
                </div>
                <div class="button-wrapper">
                    <a href="{{ url_for('wallet') }}" class="btn-primary_wallet">Open Wallet</a>
                </div>

                <!-- Include Logout button -->
                {% if current_user.is_authenticated %}
                    <div class="user_info">
                        <p>Logged in as : <span class="first-name">{{ current_user.first_name }} {{ current_user.email }}</span> </p>
                    </div>
                <form action="{{ url_for('logout') }}" method="GET">
                    <button type="submit" class="btn-btn-danger">Logout</button>
                </form>
                <form action="/predict" method="post" enctype="multipart/form-data">
                    <input type="file" name="image" id="file" class="inputfile" />
                    <label for="file" class="btn">UPLOAD</label>
                    <input type="submit" value="Submit">
                </form>
                {% endif %}
                <!-- Logout button end -->
            </div>
        </div>
    </div>

</body>

</html>
