<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom css for prelogin pages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/wallet_style.css') }}">
</head>

    <div class="background"></div>
        <div style="text-align: center;">
            <h1 class="lead">AiCoinXpert</h1>
{% block content %}
    {% block calculations %}
        <h2>Calculations</h2>
        <table>
            <thead>
            <tr>
                <th>Total number of coins</th>
                <th>Total value of coins</th>
                <th>Number of different countries</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ wallet.all()|length }}</td>
                <td>{{ wallet|sum(attribute='price') }} Euros</td>
                <td>{{ wallet|groupby(attribute='country')|list|length }}</td>
            </tr>
            </tbody>
        </table>
    {% endblock %}

    <h2>Collection</h2>
    {% if wallet %}
        <table>
            <thead>
                <tr>
                    <th>Coins predicted</th>
                    <th>Coin name</th>
                    <th>Price</th>
                    <th>Tirage</th>
                    <th>Country</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Year</th>
                    <th>Degree of confidence</th>
                </tr>
            </thead>
            <tbody>
                {% for prediction in wallet %}
                    <tr>
                        <td><img class="coin-image" src="{{ display_minio.get_image_data_url('based-pictures', prediction.class_name) }}"></td> 
                        <td>{{ prediction.coin_name }}</td>
                        <td>{{ prediction.price }} Euros</td>
                        <td>{{ prediction.tirage }}</td>
                        <td>{{ prediction.country }}</td>
                        <td>{{ prediction.currency }}</td>
                        <td>{{ prediction.amount }}</td>
                        <td>{{ prediction.year }}</td>
                        <td>{{ prediction.degree_of_certainty }} %</td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No predictions available.</p>
    {% endif %}
{% endblock %}