/* Reset some default styles for better consistency */
body, h2, table {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style the entire page background */
body {
  background-color: #f8f8f8;
}

/* Style the header (h2) for the collections */
h2 {
  font-size: 28px;
  color: #333; /* Dark text color */
  margin: 20px 0; /* Add space above and below */
  text-align: center; /* Center align the heading */
}

/* Style the table containing collections data */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin: 20px auto; /* Center the table and add space around it */
}

/* Style the table header row */
thead {
  background-color: #333; /* Dark background color */
  color: #fff;
  text-align: center; /* White text color */
}

/* Style the table header cells */
th {
  padding: 10px;
}

/* Style the table body */
tbody {
  background-color: #f2f2f2; /* Light gray background color */
}

/* Style the table data cells */
td {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Add a border between rows */
}

/* Add hover effect to table rows */
tr:hover {
  background-color: #ddd; /* Light gray on hover */
  cursor: pointer; /* Show hand cursor on hover */
}

/* Style the "No predictions available" message */
p {
  font-size: 18px;
  color: #777; /* Gray text color */
  text-align: center;
  margin-top: 20px;
}

/* Add media queries for responsiveness if needed */
body {
  background-color:#d5c8c8;
}

.lead{
    color: #d2b420;
    font-size: 100px;
    justify-content: center;
}

h1 {
  color: #d2b420;
  font-size: 200px;
  background-color: #f8f3f3;
  margin-top: 0;
  border-radius: 25px;
}

.coin-image {
  width: 150px;
  height: 150px;
}